#gradle
.gradle

#elcipse files
.metadata
.recommenders
.settings
.classpath
.project
RemoteSystemsTempFiles
Servers

build
shared
bin

#temp files
.*.swp
.~*.*#

#IntelliJ IDEA files
*.iml
*.iws
.idea
out

#java
META-INF

#mvel
target
